.post_wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  justify-content: flex-end;
  height: 450px;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  /* ホバーした時に少しだけカード全体を明るく（または暗く）して、クリックできる感を出す演出 */
  filter: brightness(1.05); 
}

.post_image {
  position: absolute;
  inset: 0;
  border-radius: 40px;
  object-fit: cover;
  filter: brightness(0.5);
}

/* 画像の上に重ねる */
.overlay {
  position: relative;
  inset: 0;
  display: flex;
  flex-direction: column;
  padding: 60px 90px;
}

/* アイコン＋名前 */
.user_info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
  cursor: default
}

.space{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user_name{
    padding-left: 20px;
}

.user_info p {
  margin: 0;
}

/* タイトル */
.overlay h2 {
  margin: 0 0 20px;
  font-size: 2.5rem;
  font-weight: 700;
}

/* タグ */
.tag {
  display: inline-block;
  width: fit-content;
  background: #f7e02a;
  color: #000;
  padding: 8px 24px;
  border-radius: 999px;
  font-weight: bold;
  margin-bottom: 40px;
}

/* 本文 */
.content {
    margin-top: auto;
    position: relative;
}

.content p {
  line-height: 1.8;
  margin: 0;
  max-width: 85%;
}

/* 続きを見る */
.content button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.expanded_layout {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* 画面の左右いっぱいに強制的に広げる手法 */
  margin: 0;
}

.post_wrapper.is_open {
  max-width: 100%;  
  min-height: 700px;
}

.post_wrapper.is_open .content p {
  max-width: 100%; /* 横幅いっぱいにテキストが読めるようにする */
}